html {    
    background-color: #f1f1f1;
    font-size: 20px;
    font-family: 'Arial';
    color: #0E162E;

    margin-left: 50px;
    margin-top: 20px;
}

.intro {
    font-size: 80px;
    font-family: 'Basteleur';
    color: #0E162E;
}

#myForm {
    text-align: left;
    margin-top: 30px;
    vertical-align: middle;
}

textarea {
    width: 500px;
    height: 200px;
}

.label {
    font-size: 15px;
}